.question {
    background-color: #e9d49a;
}

.level {
    top: -20px;
    right: -10px;
    color: white !important;
    border: 2px solid white !important;
    background-color: #ff042e !important;
}

.tip {
    background-color: #ff042e !important;
}